<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script async src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
<div class="title"> Your Custom Page </div>

<div class="settings">
    <br>
    Zipcode:
    <%= zipcode %>
    <br>
    Causes
    <% for(var i=0; i<causes.length; i++) {%>
       <li><%= causes[i] %></li>
    <% } %>
</div>

<hr>

<div id="exTab1" class="container">
    <ul  class="nav nav-pills">
        <li class="active">
            <a  href="#1a" data-toggle="tab">News</a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab">Legislators / Bills</a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab">Things you can do</a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <% for(var i=0; i<newsArticles.length; i++) {%>
               <li>
                    <a target="_blank" href=<%= newsArticles[i].web_url %>><%= newsArticles[i].headline.main %></a>
                    <p>
                        <%= newsArticles[i].snippet %>
                        <% if (newsArticles[i].multimedia.length > 0) { %>
                            <img src=<%='http://www.nytimes.com/' + newsArticles[i].multimedia[0].url %> >
                        <% } %>
                    </p>
               </li>
            <% } %>
        </div>
        <div class="tab-pane" id="2a">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>District No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Twitter</th>
                <th>Term End</th>
              </tr>
            </thead>
            <tbody>
          <% for(var i=0; i<localLegislators.length; i++) {%>
            <tr>
              <td><%= localLegislators[i].district %></td>
               <td><a href=<%= localLegislators[i].website %>>
                <%= localLegislators[i].title %>. <%= localLegislators[i].first_name %> <%= localLegislators[i].last_name %></a>
                (<%= localLegislators[i].party %>) (<%= localLegislators[i].chamber %>)</td>
              <td><a target='_blank' href=mailto:<%=localLegislators[i].oc_email%>><%= localLegislators[i].oc_email %></a></td>
              <td><%= localLegislators[i].phone %></td>
              <td><a target='_blank' href='https://twitter.com/<%= localLegislators[i].twitter_id %>'><%= localLegislators[i].twitter_id %></a></td>
              <td><%= localLegislators[i].term_end %></td>
            </tr>
          <% } %>
            </tbody>
        </table>
        </div>
        <div class="tab-pane" id="3a">
            <h3>DO SOMETHING !!</h3>
        </div>
    </div>
</div>

</body>
</html>

<!-- // chamber
// first_name
// last_name
// district
// website
// twitter_id
// oc_email
// phone
// party
// title
// term_end -->
